# .env.example
# The Movie Database (TMDB) credentials
VITE_TMDB_API_KEY=aa53c992e50edfd89401fdf7f394dae4
TMDB_READ_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhYTUyZzk5MmU1MGVkZmQ0OTQwMWZkZjdmMzk0ZGFINClsIm5iZiI6MTc3ODE1MS42NzgwMDAyLCJzdWIiOiI2OWZjYmQwZmlyOGY2ZWMyNzdhNjQ5ZmUic2pZ9wZXMiOlsiYXBX3JIYWQiXSwidmVyc2lvbiI6MX0.Vg2WGhuvloknUge2lfyxBAQkvoAYbzoXjyYUogjZCSI

# 5SIM API Key
VITE_FIVE_SIM_API_KEY=

# Streaming Availability API (RapidAPI)
RAPIDAPI_KEY=afaab2db25mshccd408433d00cb7p1dfde4jsn0d0a7253edbc

# DesiPayBD (TukTakPay) configuration
DESIPAYBD_API_KEY=
EXCHANGE_RATE=110
SITE_URL=https://ais-dev-nfwyd43crdrwbpwg3sdssy-663044304859.asia-east1.run.app

# Hostinger API Configuration
HOSTINGER_API_TOKEN=
HOSTINGER_API_BASE_URL=https://api.hostinger.com/v1

# BanglaEpay Credentials
BANGLAEPAY_BRAND_KEY=vWKZeHGx8wIJeduTiq7mxKXTzB61bcOfWrpR9EtmMDCAlOhmF
